* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik-Medium"), url(/fonts/rubik_medium.ttf);
}

@font-face {
  font-family: "Rubik-EB";
  src: local("Rubik-EB"), url(/fonts/rubik-extrabold.ttf);
}

@font-face {
  font-family: "Rubik-Re";
  src: local("Rubik-Re"), url(/fonts/rubik.ttf);
}

.wrap {
  width: 100%;
  position: relative;
  font-size: 30px;
}

.first {
  margin-bottom: -8px;
  font-size: 30px;
}

.navbar {
  width: 100vw;
  font-family: Rubik;
  color: #397998;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  opacity: 92%;
  display: flex;
  padding: 2vw;
  justify-content: space-between;
  padding-top: 2vw;
  text-align: center;
  height: 2.5vw;
  font-size: 2vw;
}

.logo {
  width: 9vw;
  margin-right: 30vw;
}

.lupa {
  width: 5vw;
  height: 3vw;
  padding-right: 3.5vw;
  padding-bottom: 0.8rem;
}

.reef {
  color: #397998;
  font-family: Rubik;
  width: 10vw;
  text-decoration: none;
}

.general {
  position: relative;
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.layer-back {
  transform: translate3d(0, calc(var(--scrollTop) / 1.2), 0);
}

.layer-third {
  transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
  margin-bottom: 5px;
}

.layer-second {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
  margin-bottom: 11px;
}

.layer-first {
  transform: translate3d(0, calc(var(--scrollTop) / 3.5), 0);
  margin-bottom: 16px;
}

.main_text {
  position: absolute;
  color: #ffffff;
  font-family: Rubik;
  left: 3%;
  top: 25%;
  font-size: 8vw;
  line-height: 0.9;
  width: 9.5em;
  text-shadow: #000000de 1px 0 20px;
}

.second {
  position: relative;
  font-size: 30px;
}

.flex_second {
  display: flex;
  position: absolute;
  top: 10%;
  justify-content: space-between;
  left: 10%;
  right: 10%;
  height: 2.5vw;
}

.cyfr {
  width: 16.433em;
  font-family: Rubik-Re;
  font-size: 2vw;
  text-shadow: #000000 1px 0 10px;
}
.arr {
  position: absolute;
  bottom: 10%;
  left: 46%;
}

.find2 {
  background-color: #ffffff;
  border-radius: 100px;
  width: 20vw;
  height: 5vw;
  font-size: 2vw;
  text-align: center;
  margin-left: 0.5em;
  font-size: 2vw;
  padding-top: 1em;
  box-shadow: #000000 1px 0 10px;
}

.sec_ar {
  padding-top: 2vw;
  padding-left: 1.5vw;
  width: 40vw;
  height: 4vw;
}
.route {
  position: absolute;
  top: 40%;
  left: 6%;
  width: 86vw;
  height: 12.7em;
}

.chisla {
  display: flex;
  font-family: Rubik-EB;
  font-size: 15vw;
  position: absolute;
  top: 30%;
  left: 8%;
  opacity: 20%;
  color: aliceblue;
  justify-content: space-between;
  width: 80%;
  height: 50%;
}

.b {
  align-self: flex-start;
  padding-left: 5%;
}

.d {
  align-self: flex-start;
}

.a {
  align-self: flex-end;
  padding-left: 2%;
}

.c {
  align-self: flex-end;
}

.e {
  align-self: flex-end;
}

.titles {
  display: flex;
  font-family: Rubik;
  font-size: 2vw;
  position: absolute;
  top: 40%;
  left: 5%;
  color: aliceblue;
  justify-content: space-between;
  width: 80%;
  height: 30%;
  text-align: center;
}

.bb {
  align-self: flex-start;
  padding-left: 8%;
}

.dd {
  padding-left: 11%;
  align-self: flex-start;
}

.aa {
  align-self: flex-end;
  padding-left: 2%;
}

.cc {
  align-self: flex-end;
  padding-left: 3em;
}

.ee {
  align-self: flex-end;
  padding-left: 4%;
}

.foot_sec {
  position: absolute;
  display: flex;
  font-family: Rubik-Re;
  top: 83%;
  left: 6.2%;
  justify-content: space-between;
  width: 85vw;
  height: 5vw;
  color: aliceblue;
  font-size: 2vw;
  align-items: end;
}

.foot_sec_chis {
  position: absolute;
  display: flex;
  color: aliceblue;
  top: 83.5%;
  left: 40%;
  justify-content: space-between;
  font-family: Rubik-EB;
  width: 35%;
  font-size: 4.8vw;
}

.otkr2 {
  position: absolute;
  top: 15vw;
  left: 40vw;
  font-size: 30%;
  background-color: aliceblue;
  width: 10vw;
  color: #1e444b;
  font-family: Rubik-Re;
  font-size: 0.7vw;
  border-radius: 2em;
  padding: 2em;
  box-shadow: 0px 0px 20px 0px #000000;
  transform: rotate(-20deg);
}

.third {
  position: relative;
}

.marsh {
  display: flex;
  padding-left: 6.2%;
  justify-content: space-between;
}

div.marsh > div {
  width: 28vw;
}

.marsh_con {
  position: relative;
}

.first_title {
  position: absolute;
  top: 6%;
  left: 5%;
  font-family: Rubik-EB;
  color: aliceblue;
  width: 70%;
  font-size: 2vw;
}

.sec_title {
  position: absolute;
  top: 24%;
  left: 5%;
  font-family: Rubik;
  color: aliceblue;
  width: 70%;
  font-size: 1.5vw;
}

.niz_title {
  position: absolute;
  font-family: Rubik;
  color: aliceblue;
  bottom: 7%;
  left: 5%;
  font-size: 1.5vw;
  width: 10vw;
}

.know_more {
  position: absolute;
  font-family: Rubik;
  color: aliceblue;
  background-color: #f0a54e;
  border-radius: 0.7em;
  padding: 0.7vw 0.4vw;
  bottom: 7%;
  right: 20%;
  width: 9vw;
  font-size: 1.1vw;
}

.more_routes {
  background-color: #dfdfdf;
  font-family: Rubik;
  font-size: 1.3vw;
  width: 11vw;
  height: 2vw;
  padding: 0.7vw 0.4vw;
  border-radius: 0.5em;
  color: #1e444b;
  margin-top: 2%;
  margin-left: 6.2%;
  margin-bottom: 2vw;
  text-align: center;
}

.goto {
  background-color: #f0a54e;
  font-family: Rubik;
  font-size: 1.3vw;
  width: 13vw;
  height: 2vw;
  padding: 0.7vw 0.4vw;
  border-radius: 0.5em;
  color: #f7f7f7;
  margin-top: 2%;
  margin-left: 6.2%;
  margin-bottom: 2vw;
  text-align: center;
  position: absolute;
  bottom: 0.1em;
  left: 2%;
}

.map3 {
  position: relative;
}

.last_flex {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.last {
  position: relative;
  left: 6.2%;
  width: 80vw;
}

.footer {
  display: flex;
  background-color: #1e444b;
  padding-bottom: 1vw;
}

.footer_item {
  padding: 4vw 5vw;
}

.foot_t {
  color: #b0b0b0;
  font-size: 1.5vw;
  font-family: Rubik-Re;
}

.foot_t2 {
  color: #ffffff;
  font-size: 1.5vw;
  font-family: Rubik-Re;
  line-height: 1.5;
  padding-top: 2vw;
}

.soc {
  width: 7vw;
  height: 4vw;
}
